// MAIN BLOCK ========================================================================
.main-block {
	&__body {
		padding-top: rem(30);
		@include adaptiveValue('padding-left', 40, 20, 0, 1920, 568);
		@include adaptiveValue('padding-right', 120, 20, 0, 1920, 568);
		padding-bottom: rem(30);
	}

	&__slider {
		border-radius: rem(10);
		border-top: rem(1) solid cl('white-1', 0.04);
		box-shadow: 0px 0px 44px 0px cl('black-1', 0.44);
	}

	&__slider-wrapper {
	}

	&__slide {
		position: relative;
		@include adaptiveValue('padding-top', 60, 24, 0, 1920, 568);
		@include adaptiveValue('padding-bottom', 80, 10, 0, 1920, 568);
		@include adaptiveValue('padding-left', 120, 20, 0, 1920, 568);
		@include adaptiveValue('padding-right', 120, 20, 0, 1920, 568);
		overflow: hidden;

		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__slide-content-wrapper {
		position: relative;
		z-index: 1;
	}

	&__slide-title {
		color: cl('white-2');
		text-shadow: 1px 2px 20px cl('black-1', 0.3);
		@include adaptiveValue('font-size', 40, 20, 0, 1920, 568);
		font-weight: 800;
		line-height: 140%;
		text-transform: uppercase;

		@media (min-width: $mobile) {
			max-width: rem(504);
		}

		@media (max-width: $mobile) {
			text-align: center;
		}

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 10, 12, 0, 1920, 568);
		}
	}

	&__slide-text {
		color: cl('grey-7');
		@include adaptiveValue('font-size', 16, 14, 0, 1920, 568);
		font-weight: 500;
		line-height: 125%;
		letter-spacing: 0.1px;

		@media (max-width: $mobile) {
			text-align: center;
		}

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 30, 72, 0, 1920, 568);
		}
	}

	&__slide-button {
		width: rem(160);
		height: rem(52);

		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}

	&__slide-background-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			transform: scale(1.02);

			&.mobile {
				display: none;
			}

			@media (max-width: $mobile) {
				display: none;

				&.mobile {
					display: block;
					transform: scale(1.2);
				}
			}
		}
	}

	&__slider-scrollbar {
		position: relative;
		transform: translateY(-100%);
		z-index: 2;
		@include adaptiveValue('height', 4, 2, 0, 1920, 568);

		&.swiper-scrollbar-horizontal {
			border-radius: rem(8);
			background-color: cl('white-1', 0.2);
		}

		.swiper-scrollbar-drag {
			border-radius: rem(8);
			background: radial-gradient(43.79% 69.32% at 47.73% 61.82%, #4e8bff 0%, #3474ee 100%);
		}
	}
}

.bannersSwiper-wrapper {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 36, 20, 0, 1920, 568);
	}
}

// CONTACT ===========================================================================
.contact {
	&__container {
	}

	&__body {
	}

	&__block {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 40, 30, 0, 1920, 375);
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	&__row {
		@include adaptiveValue('gap', 40, 20, 0, 1920, 375);

		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
		}
	}

	&__col {
	}
}

.form-contact {
	height: 100%;
	display: flex;
	flex-direction: column;
	@include adaptiveValue('gap', 16, 10, 0, 1920, 375);

	&__input-wrapper {
		&--textarea {
			position: relative;
			@include adaptiveValue('height', 120, 80, 0, 1920, 375);
			overflow: hidden;

			.button {
				position: absolute;
				bottom: 0;
				right: 0;
				border-radius: 0;
				border-top-left-radius: rem(10);
			}
		}
	}
}

.info-contact {
	position: relative;
	height: 100%;
	@include adaptiveValue('padding', 32, 20, 0, 1920, 375);
	border-radius: rem(10);
	background-color: cl('black-2');
	background: radial-gradient(73.13% 573.3% at 14.37% 31.25%, #191123 0%, #111123 100%);

	&__inner {
		position: relative;
		z-index: 1;
	}

	&__title {
		color: cl('white-1');
		@include adaptiveValue('font-size', 18, 16, 0, 1920, 375);
		font-weight: 500;
		line-height: 125%;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 32, 20, 0, 1920, 375);
		}
	}

	&__text-wrapper {
		display: flex;
		flex-direction: column;
		@include adaptiveValue('gap', 16, 12, 0, 1920, 375);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 44, 24, 0, 1920, 375);
		}
	}

	&__text-wrapper-row {
		@include adaptiveValue('font-size', 16, 14, 0, 1920, 375);
		font-weight: 500;
		line-height: 114%;
	}

	&__text-left {
		color: cl('grey-3');
	}

	&__text-right {
		color: cl('white-1');
	}

	&__button {
		font-size: rem(14);
	}

	&__background-ibg {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			object-position: right;
			object-fit: contain;
		}
	}
}

.contact {
	&__accordion-container {
		display: flex;
		flex-direction: column;
		gap: rem(10);
	}
}

.accordion-wrapper {
	position: relative;
	@include adaptiveValue('padding-top', 24, 12, 0, 1920, 375);
	@include adaptiveValue('padding-bottom', 24, 12, 0, 1920, 375);
	@include adaptiveValue('padding-right', 32, 16, 0, 1920, 375);
	@include adaptiveValue('padding-left', 32, 16, 0, 1920, 375);
	border-radius: rem(10);
	border-top: 1px solid cl('white-1', 0.04);
	background: cl('black-4');
	box-shadow: 0px 0px 44px 0px rgba(5, 5, 13, 0.24);
}

.accordion {
	overflow: hidden;

	&__header {
		transition: padding 0.4s ease;

		.active & {
			@include adaptiveValue('padding-bottom', 20, 12, 0, 1920, 375);
		}
	}

	&__trigger {
		display: flex;
		gap: rem(12);
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__header-text {
		text-align: left;
		color: cl('white-1');
		@include adaptiveValue('font-size', 16, 12, 0, 1920, 375);
		font-weight: 600;
		line-height: 150%;
	}

	&__header-icon-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 0;
		flex-shrink: 0;
		@include adaptiveValue('flex-basis', 40, 32, 0, 1920, 375);
		@include adaptiveValue('width', 40, 32, 0, 1920, 375);
		aspect-ratio: 1;
		border-radius: rem(10);
		border: 1px solid cl('black-3');
		background: linear-gradient(270deg, rgba(23, 30, 47, 0.84) 0%, rgba(23, 30, 47, 0.44) 100%);

		.active & {
			border-radius: 11px;
			border: 1.8px solid cl('white-1', 0.15);
			background: radial-gradient(43.79% 69.32% at 47.73% 61.82%, #4e8bff 0%, #3474ee 100%);
		}

		svg {
			flex-grow: 0;
			flex-shrink: 0;
			@include adaptiveValue('flex-basis', 24, 20, 0, 1920, 375);
			@include adaptiveValue('width', 24, 20, 0, 1920, 375);
			aspect-ratio: 1;
			fill: cl('grey-3');
			transition: transform 0.4s ease;

			.active & {
				fill: cl('white-1');
				transform: rotate(180deg);
			}
		}
	}

	&__panel {
	}

	&__panel-text {
		color: cl('grey-3');
		@include adaptiveValue('font-size', 16, 12, 0, 1920, 375);
		font-weight: 500;
		line-height: 160%;
	}
}

// VIP CLUB ===========================================================================
.vip-club {
	&__container {
	}

	&__body {
	}

	&__title {
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(20);

		@media (max-width: em(1599.98)) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: em(1219.98)) {
			column-gap: rem(19);
			row-gap: rem(40);
		}

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__item {
		position: relative;
		padding: rem(20);
		border-radius: rem(20);
		background: radial-gradient(489.38% 100% at 50.17% 0%, #191123 0%, #111123 100%);

		@media (max-width: em(1420)) {
			padding: 0 rem(16) rem(18);
		}

		@media (max-width: em(1219.98)) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: rem(12);
		}

		&--next {
			.vip-club__item-number {
				background: cl('grey-2');
				color: cl('grey-1');
			}

			.vip-club__item-title {
				color: cl('grey-4');
			}

			.vip-club__item-list-subtitle {
				color: cl('grey-4');
			}
		}
	}

	&__item-image-ibg {
		@media (min-width: em(1219.98)) {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			aspect-ratio: 1;
			transform: translateX(-28%);

			&--mobile {
				display: none;
			}
		}

		@media (max-width: em(1219.98)) {
			display: none;

			&--mobile {
				display: block;
			}

			width: 60%;
			padding-bottom: 60%;
			margin-top: -16%;
		}

		img {
			object-fit: fill;
		}
	}

	&__item-text-wrapper {
		position: relative;
		z-index: 1;
		@media (min-width: em(1219.98)) {
			padding-left: 30%;
		}
	}

	&__item-title {
		color: cl('white-2');
		@include adaptiveValue('font-size', 16, 14, 0, 1920, 1280);
		font-weight: 500;
		line-height: 150%;

		@media (max-width: em(1219.98)) {
			text-align: center;
		}

		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}

	&__item-list {
	}

	&__item-list-item {
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}

	&__item-list-title {
		color: cl('grey-1');
		font-size: rem(12);
		font-weight: 500;
		line-height: 133%;

		@media (max-width: em(1219.98)) {
			text-align: center;
		}

		&:not(:last-child) {
			margin-bottom: rem(4);
		}
	}

	&__item-list-subtitle {
		color: cl('white-2');
		font-size: rem(12);
		font-weight: 500;
		line-height: 133%;

		@media (max-width: em(1219.98)) {
			text-align: center;
		}
	}

	&__item-number {
		position: absolute;
		@include adaptiveValue('top', 12, 8, 0, 768, 375);
		@include adaptiveValue('right', 12, 8, 0, 768, 375);

		@include adaptiveValue('width', 24, 20, 0, 768, 375);
		aspect-ratio: 1;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: rem(8);
		border-radius: 8px;
		background: linear-gradient(145deg, #c87031 -0.24%, #b85a23 33.14%, #ce512a 98.36%);
		box-shadow: 0px 8px 12px 0px cl('black-1', 0.02);

		color: cl('white-2');
		@include adaptiveValue('font-size', 16, 13, 0, 1920, 1280);
	}

	&__item--next {
	}
}

.club-rank {
	overflow: hidden;
	margin-top: -5%;
	@media (min-width: em(1239.98)) {
		display: grid;
		grid-template-columns: 39% 1fr;
		@include adaptiveValue('gap', 156, 36, 0, 1920, 1640);

		@media (max-width: em(1589.98)) {
			grid-template-columns: 42% 1fr;
			gap: rem(46);
		}
	}

	@media (max-width: em(1239.98)) {
		margin-top: -8%;
		display: flex;
		flex-direction: column;
	}

	&:not(:last-child) {
		margin-bottom: rem(56);
	}

	&__preview {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		height: rem(594);

		@media (max-width: em(689.98)) {
			margin: -22% 0;
		}
	}

	&__preview-text-wrapper {
		position: absolute;
		z-index: 1;
		bottom: 21%;
		right: 9%;
	}

	&__preview-title {
		text-shadow: 1px 2px 20px cl('black-1', 0.3);
		@include adaptiveValue('font-size', 32, 24, 0, 1920, 375);
		font-weight: 600;
		line-height: 100%;
		background: linear-gradient(180deg, #9466c0 0%, #8054aa 100%);
		text-align: right;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 16, 12, 0, 1920, 375);
		}
	}

	&__preview-text {
		color: cl('purple-3');
		@include adaptiveValue('font-size', 24, 20, 0, 1920, 375);
		font-weight: 600;
		line-height: 120%;

		padding-right: rem(36);
	}

	&__preview-background-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@media (max-width: em(689.98)) and (min-width: em(500)) {
			transform: scale(1.6) translateX(8%);
		}

		@media (max-width: em(429.98)) {
			transform: scale(1.6) translateX(8%);
		}

		img {
			object-fit: contain;
		}
	}
}

.rank-step {
	@media (min-width: em(1239.98)) {
		display: grid;
		grid-template-columns: rem(4) 1fr;
		align-items: center;
		gap: rem(40);
	}

	@media (max-width: em(1239.98)) {
		display: flex;
		flex-direction: column;
		gap: rem(86);
	}

	&__line {
		position: relative;
		width: 100%;
		background-color: cl('black-2');

		@media (min-width: em(1239.98)) {
			height: rem(380);
		}

		@media (max-width: em(1239.98)) {
			height: rem(4);
		}

		border-radius: rem(10);
	}

	&__line-progress {
		position: absolute;
		top: 0;
		left: 0;
		background: radial-gradient(950.18% 242.32% at 266.67% 177.74%, #9186ff 0%, #6d61ff 33.87%, #574aff 91.62%);

		@media (min-width: em(1239.98)) {
			width: 100%;
			height: var(--progress);
		}

		@media (max-width: em(1239.98)) {
			width: var(--progress);
			height: 100%;
		}

		border-radius: rem(10);

		&::after {
			content: '';
			position: absolute;
			@media (min-width: em(1239.98)) {
				bottom: rem(-6);
				left: 50%;
				transform: translateX(-50%);
			}
			@media (max-width: em(1239.98)) {
				right: rem(-6);
				top: 50%;
				transform: translateY(-50%);
			}
			width: rem(12);
			aspect-ratio: 1;
			border-radius: 50%;
			background: radial-gradient(950.18% 242.32% at 266.67% 177.74%, #9186ff 0%, #6d61ff 33.87%, #574aff 91.62%);
		}
	}

	&__line-block {
		position: absolute;
		@media (min-width: em(1239.98)) {
			bottom: 0;
			transform: translateY(50%);
			right: calc(100% + rem(16));
		}
		@media (max-width: em(1239.98)) {
			top: calc(100% + rem(16));
			right: 0;
			transform: translateX(50%);
		}
		padding: rem(8) rem(16);
		border-radius: rem(10);
		border-right: 1px solid cl('white-1', 0.04);
		background: cl('grey-2');
	}

	&__line-block-current {
		@media (min-width: em(1239.98)) {
			display: none;
		}

		position: absolute;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(20);
		height: rem(20);
		border-radius: rem(8);
		background: radial-gradient(445.29% 199.44% at 59.93% 177.74%, #9186ff 0%, #6d61ff 33.87%, #574aff 91.62%);

		color: cl('white-2');
		font-size: rem(12);
	}

	&__line-block-next {
		@media (min-width: em(1239.98)) {
			display: none;
		}

		position: absolute;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(20);
		height: rem(20);
		border-radius: rem(8);
		background-color: cl('black-2');

		color: cl('grey-1');
		font-size: rem(12);
	}

	&__line-block-icon-ibg {
		position: absolute;
		@media (min-width: em(1239.98)) {
			left: 100%;
			top: 50%;
			transform: translateY(-50%);
		}
		@media (max-width: em(1239.98)) {
			bottom: 90%;
			left: 50%;
			transform: rotate(-90deg) translateX(-50%);
		}
		width: rem(5);
		height: rem(16);

		img {
			object-fit: fill;
		}
	}

	&__line-block-progress {
		color: cl('grey-1');
		font-size: rem(14);
		font-weight: 500;
		line-height: 172%;
		white-space: nowrap;

		display: flex;
		align-items: center;
		gap: rem(4);

		span {
			color: cl('white-2');
		}
	}

	&__body {
	}

	&__item {
		position: relative;
		@media (min-width: em(1589.98)) {
			display: grid;
			grid-template-columns: rem(136) 1fr;
		}

		border-radius: rem(10);
		background: radial-gradient(73.13% 573.3% at 14.37% 31.25%, #191123 0%, #111123 100%);
		@include adaptiveValue('padding', 32, 20, 0, 1920, 1240);

		&:not(:last-child) {
			margin-bottom: rem(20);
		}

		&--next {
			.rank-step__number {
				background: cl('grey-2');
				color: cl('grey-1');
			}

			.rank-step__title {
				color: cl('grey-4');
			}

			.rank-step__list-item {
				color: cl('grey-4');

				&::before {
					background: url(@img/icons/circle-ribbed.svg) no-repeat;
				}
			}
		}
	}

	&__image {
		position: relative;
		@media (min-width: em(1589.98)) {
			transform: scale(1.5) translateX(-25%);
		}

		@media (max-width: em(1589.98)) {
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			width: 30%;
			aspect-ratio: 1;
			transform: translateX(10%);
		}

		@media (max-width: em(1239.98)) {
			width: 20%;
		}

		@media (max-width: $tablet) {
			width: 30%;
		}

		@media (max-width: $mobileSmall) {
			width: 34%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text-wrapper {
		position: relative;
		z-index: 1;
	}

	&__title-wrapper {
		display: flex;
		gap: rem(12);
		align-items: center;

		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	&__number {
		flex: 0 0 rem(24);
		aspect-ratio: 1;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: rem(8);
		border-radius: 8px;
		background: linear-gradient(145deg, #c87031 -0.24%, #b85a23 33.14%, #ce512a 98.36%);
		box-shadow: 0px 8px 12px 0px cl('black-1', 0.02);

		color: cl('white-2');
	}

	&__title {
		color: cl('white-2');
		@include adaptiveValue('font-size', 24, 16, 0, 1920, 1240);
		font-weight: 500;
		line-height: 100%;
	}

	&__sub-title {
		color: cl('grey-1');
		@include adaptiveValue('font-size', 16, 14, 0, 1920, 1240);
		font-weight: 500;
		line-height: 125%;

		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	&__list {
	}

	&__list-item {
		display: flex;
		align-items: center;
		gap: rem(12);

		color: cl('white-2');
		@include adaptiveValue('font-size', 16, 14, 0, 1920, 1240);
		font-weight: 500;
		line-height: 150%;

		&::before {
			content: '';
			flex: 0 0 rem(24);
			aspect-ratio: 1;
			background: url(@img/icons/circle-check-mark.svg) no-repeat;
		}

		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}

	&__item-background-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			object-position: right;
			object-fit: contain;
		}
	}

	&__item--next {
	}
}

// RAFFLE ==============================================================================
.raffle {
	&__container {
	}

	&__body {
	}

	&__top-banner {
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	&__leaderboard {
	}
}

.raffle-top-banner {
	position: relative;
	overflow: hidden;
	border-radius: rem(10);
	border-top: rem(1) solid cl('white-1', 0.04);
	box-shadow: 0px 0px 44px 0px cl('black-1', 0.44);

	&__body {
		position: relative;
		z-index: 1;

		padding: 0 rem(20);
		@include adaptiveValue('padding-top', 40, 20, 0, 1920, 768);
		@include adaptiveValue('padding-bottom', 60, 20, 0, 1920, 768);

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__top-title {
		display: flex;
		align-items: flex-end;
		@include adaptiveValue('gap', 16, 8, 1920, 768);
		white-space: nowrap;

		color: cl('white-1');
		@include adaptiveValue('font-size', 24, 16, 1920, 568);
		text-transform: uppercase;
		font-weight: 700;
		line-height: normal;

		span {
			@include adaptiveValue('font-size', 54, 24, 0, 1920, 568);
			font-weight: 800;
			background: linear-gradient(190deg, #ffe6a6 37.82%, #fdd425 45.88%, #ffb237 57.11%, #ff8039 84.7%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}

	&__title {
		color: cl('white-1');
		@include adaptiveValue('font-size', 92, 32, 0, 1920, 568);
		font-weight: 700;
		line-height: 125%;
		text-transform: uppercase;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 12, 8, 0, 1920, 568);
		}
	}

	&__sub-title {
		color: cl('grey-4');
		@include adaptiveValue('font-size', 20, 12, 0, 1920, 568);
		font-weight: 500;
		line-height: 140%;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 40, 20, 0, 1920, 568);
		}
	}

	&__date-start {
		display: flex;
		flex-direction: column;
		align-items: center;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 40, 32, 0, 1920, 568);
		}
	}

	&__actions {
		display: flex;
		justify-content: center;
		@include adaptiveValue('gap', 20, 15, 0, 1920, 568);
	}

	&__button {
		flex-shrink: 0;
		flex-grow: 0;
		@include adaptiveValue('flex-basis', 280, 140, 0, 1920, 568);
		@include adaptiveValue('height', 60, 40, 0, 1920, 568);
	}

	&__deposit {
	}

	&__read-more {
	}

	&__background-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		transform: scale(1.2);
	}
}

.raffle-date-start {
	&__top-text {
		color: cl('white-2');
		@include adaptiveValue('font-size', 16, 12, 0, 1920, 568);
		font-weight: 500;
		line-height: 175%;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 16, 12, 0, 1920, 568);
		}
	}

	&__counter {
		display: flex;
		@include adaptiveValue('gap', 20, 13, 0, 1928, 568);
		align-items: center;
	}

	&__counter-value-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include adaptiveValue('gap', 10, 4, 0, 1920, 568);
	}

	&__counter-value {
		display: flex;
		@include adaptiveValue('gap', 6, 4, 0, 1920, 568);

		.char-background {
			padding: rem(8) rem(12);
			border-radius: rem(8);
			border: rem(1) solid cl('black-3');
			background: linear-gradient(0deg, rgba(23, 30, 47, 0.84) 0%, rgba(23, 30, 47, 0.44) 100%);
			background-image: url(@img/raffle/date-counter-background.svg);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			backdrop-filter: blur(2px);
			overflow: hidden;

			@media (max-width: $tablet) {
				padding: 0 rem(8);
			}

			display: flex;
			justify-content: center;
			align-items: center;
		}

		.char {
			position: relative;
			z-index: 1;

			text-shadow: 0px 0px 8px cl('blue-2', 0.12);
			@include adaptiveValue('font-size', 40, 20, 0, 1920, 568);
			font-weight: 700;
			line-height: 180%;
			text-transform: uppercase;

			background: radial-gradient(49.35% 78.13% at 50% 21.87%, #4e8bff 0%, #3474ee 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__counter-description {
		color: cl('grey-4');
		@include adaptiveValue('font-size', 14, 10, 0, 1920, 568);
		font-weight: 500;
		line-height: 114%;
	}
}

.raffle-leaderboard {
	&__body {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 40, 30, 0, 1920, 568);
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(24);
		flex-wrap: wrap;

		@media (max-width: $mobile) {
			flex-direction: column;
		}

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 18, 20, 0, 1920, 768);
		}
	}

	&__title {
	}

	&__search-wrapper {
		position: relative;
		height: rem(40);
		padding: rem(10) rem(16);
		flex: 0 0 rem(240);
		gap: rem(16);

		@media (max-width: $mobile) {
			width: 100%;
			flex: 0 0 rem(40);
		}

		svg {
			width: rem(14);
			aspect-ratio: 1;
			fill: cl('grey-1');
		}
	}

	&__table {
	}

	&__pagination {
		justify-content: flex-end;

		@media (max-width: $mobile) {
			justify-content: center;
		}
	}
}

.leaderboard-table {
	display: flex;
	flex-direction: column;
	gap: rem(8);

	&__row {
		display: grid;
		align-items: center;
		grid-template-columns: 10% 40% 40% 10%;
		@include adaptiveValue('min-height', 56, 40, 0, 1920, 568);
		padding: rem(8) rem(25);
		border-radius: rem(10);

		@media (max-width: $mobile) {
			padding: rem(6) rem(16);
			grid-template-columns: 15% 40% 24% 20%;
		}

		&:nth-child(odd) {
			background-color: cl('black-4');
			border-top: 1px solid cl('white-1', 0.04);
			box-shadow: 0px 0px 44px 0px rgba(5, 5, 13, 0.24);
		}
	}

	&__title {
		color: cl('grey-1');
		@include adaptiveValue('font-size', 14, 12, 0, 1920, 568);
		font-weight: 600;
		line-height: 200%;

		span {
			&.mobile {
				display: none;
			}
		}

		@media (max-width: $mobile) {
			span {
				display: none;

				&.mobile {
					display: block;
				}
			}
		}
	}

	&__row--top-leaders {
	}

	&__rank {
		border: rem(1) solid cl('black-3');
		@include adaptiveValue('width', 32, 24, 0, 1920, 568);
		aspect-ratio: 1;
		background: linear-gradient(270deg, rgba(23, 30, 47, 0.84) 0%, rgba(23, 30, 47, 0.44) 100%);
		border-radius: 50%;

		display: flex;
		justify-content: center;
		align-items: center;

		color: cl('grey-4');
		@include adaptiveValue('font-size', 14, 12, 0, 1920, 568);
		font-weight: 600;
		line-height: 142%;
	}

	&__user {
		display: flex;
		align-items: center;
		@include adaptiveValue('gap', 12, 8, 0, 1920, 568);
	}

	&__user-avatar {
		@include adaptiveValue('width', 32, 24, 0, 1920, 568);
		aspect-ratio: 1;
		border-radius: 50%;
		overflow: hidden;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__user-name {
		color: cl('white-1');
		@include adaptiveValue('font-size', 14, 12, 0, 1920, 568);
		font-weight: 600;
		line-height: 133%;
	}

	&__wagered {
		color: cl('white-1');
		@include adaptiveValue('font-size', 14, 12, 0, 1920, 568);
		font-weight: 600;
		line-height: 200%;
	}

	&__price {
		color: cl('white-1');
		@include adaptiveValue('font-size', 14, 12, 0, 1920, 568);
		font-weight: 600;
		line-height: 200%;
	}
}

.pagination {
	display: flex;
	align-items: center;
	gap: rem(16);

	&__arrow {
	}

	&__arrow-prev {
	}

	&__pages {
		display: flex;
		align-items: center;
		gap: rem(8);
	}

	&__page {
		color: cl('grey-1');
		font-size: rem(14);
		font-weight: 600;
		line-height: 142%;
		letter-spacing: 0.14px;

		&.current {
			color: cl('white-2');
		}
	}

	&__page--more {
	}

	&__arrow-next {
	}
}

// GAME LAUNCHER =======================================================================
.game-launcher {
	&__container {
	}

	&__body {
	}

	&__top {
		display: flex;
		gap: rem(16);
		align-items: center;
		flex-wrap: wrap;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 20, 16, 0, 1920, 768);
		}
	}

	&__back {
		display: flex;
		gap: rem(12);
		align-items: center;
	}

	&__back-icon {
		flex: 0 0 rem(16);
	}

	&__back-text {
		color: cl('grey-1');
		font-size: rem(16);
		font-weight: 600;
		line-height: 125%;
		letter-spacing: 1px;
		text-transform: capitalize;

		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__title {
		flex: 1 1 auto;
		text-align: center;

		@media (max-width: $mobile) {
			text-align: left;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: rem(10);
	}

	&__action {
		flex: 0 0 rem(40);
		width: rem(40);
		aspect-ratio: 1;
		border-radius: rem(10);
		border: rem(1) solid cl('black-3');
		background: linear-gradient(270deg, rgba(23, 30, 47, 0.84) 0%, rgba(23, 30, 47, 0.44) 100%);

		display: flex;
		justify-content: center;
		align-items: center;

		&--icon-fill {
			svg {
				fill: cl('grey-1');
			}
		}

		svg {
			flex: 0 0 rem(24);
			aspect-ratio: 1;
			stroke: cl('grey-1');
		}
	}

	&__banner {
		position: relative;
		@include adaptiveValue('height', 680, 520, 0, 1920, 375);
		border-radius: rem(10) rem(10) 0 0;
		overflow: hidden;
	}

	&__banner-background-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scale(1.01);

		img {
			&.mobile {
				display: none;
			}

			@media (max-width: $mobile) {
				display: none;

				&.mobile {
					display: block;
				}
			}
		}
	}

	&__banner-sub-title {
		width: 100%;
		padding: rem(8) rem(16);
		@include adaptiveValue('min-height', 60, 40, 0, 1920, 568);
		background-color: cl('black-2');
		border-radius: 0 0 rem(10) rem(10);

		display: flex;
		justify-content: center;
		align-items: center;

		color: cl('grey-6');
		@include adaptiveValue('font-size', 24, 16, 0, 1920, 568);
		font-weight: 700;
		line-height: 84%;
		letter-spacing: 0.4px;

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	&__table {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 40, 30, 0, 1920, 568);
		}
	}

	&__slider-wrapper {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 40, 30, 0, 1920, 568);
		}
	}

	&__slider-top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	&__slider-title {
		flex: 1 1 auto;

		display: flex;
		align-items: center;
		@include adaptiveValue('gap', 12, 10, 0, 1920, 568);

		color: cl('white-1');
		@include adaptiveValue('font-size', 24, 16, 0, 1920, 568);
		font-weight: 600;
		line-height: normal;
		letter-spacing: 0.2px;
		white-space: nowrap;

		svg {
			flex-grow: 0;
			flex-shrink: 0;
			@include adaptiveValue('flex-basis', 24, 20, 0, 1920, 568);
			aspect-ratio: 1;
			fill: cl('white-1');
		}
	}
}

.game-table {
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include adaptiveValue('gap', 20, 10, 0, 1920, 568);

		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
		}
	}

	&__col {
		display: grid;
		grid-auto-flow: row;
		gap: rem(16);

		@include adaptiveValue('padding-top', 24, 20, 0, 1920, 768);
		@include adaptiveValue('padding-bottom', 24, 20, 0, 1920, 768);
		@include adaptiveValue('padding-left', 32, 20, 0, 1920, 768);
		@include adaptiveValue('padding-right', 32, 20, 0, 1920, 768);
		background-color: cl('black-2');
		border-radius: rem(10);
	}

	&__field {
		display: flex;
		align-items: center;
		gap: rem(8);
	}

	&__field-name {
		flex: 1 1 auto;

		color: cl('grey-1');
		@include adaptiveValue('font-size', 16, 14, 0, 1920, 568);
		font-weight: 500;
		line-height: 125%;

		display: flex;
		gap: rem(8);
		align-items: flex-end;

		&::after {
			content: '';
			flex: 1 1 auto;
			height: rem(1.6);
			background: url(@img/game-launcher/table-line.svg);
			margin-bottom: rem(4);
		}
	}

	&__field-value {
		color: cl('white-2');
		@include adaptiveValue('font-size', 16, 14, 0, 1920, 568);
		font-weight: 500;
		line-height: 114%;

		display: flex;
		align-items: center;
		@include adaptiveValue('gap', 8, 6, 0, 1920, 568);

		svg {
			flex: 0 0 rem(20);
			aspect-ratio: 1;
		}
	}

	&__field-icon {
	}
}

.slider-navigation {
	display: flex;
	align-items: center;
	gap: rem(13);
}

.slider-all {
	display: flex;
	gap: rem(8);
	align-items: center;
	border-radius: rem(10);
	padding: rem(12) rem(16);
	border: 1px solid cl('black-3');
	background: linear-gradient(270deg, rgba(23, 30, 47, 0.84) 0%, rgba(23, 30, 47, 0.44) 100%);

	@media (max-width: $tablet) {
		padding: rem(10);
	}

	&__text {
		color: cl('white-1');
		font-size: rem(14);
		font-weight: 500;
		line-height: 114%;
	}

	&__value {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: rem(16);

		border-radius: rem(4);
		background-color: cl('white-1', 0.12);
		padding: 0 rem(4);

		color: cl('white-3');
		font-size: rem(10);
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.1px;
	}

	&__icon {
		flex: 0 0 rem(15);
		width: rem(15);
		aspect-ratio: 1;
	}
}

.slider-arrows {
	display: flex;
	align-items: center;
	gap: rem(8);

	@media (max-width: $mobile) {
		display: none;
	}

	&__arrow-prev {
	}

	&__arrow-next {
	}
}

.slider-arrow {
	width: rem(40);
	aspect-ratio: 1;
	border-radius: rem(11);
	border: rem(1.8) solid cl('white-1', 0.15);
	background: radial-gradient(43.79% 69.32% at 47.73% 61.82%, #4e8bff 0%, #3474ee 100%);

	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		flex: 0 0 rem(24);
		width: rem(24);
		aspect-ratio: 1;
	}
}

.games-slider {
	&__games-slider {
	}

	&__slider-wrapper {
	}

	&__slide {
		position: relative;
		width: 100%;
		@include adaptiveValue('height', 254, 138, 0, 1920, 568);
		border-radius: rem(10);
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__providers-slider {
	}
}

.providers-slider {
	&__slider-wrapper {
	}

	&__slide {
		position: relative;
		width: 100%;
		@include adaptiveValue('height', 100, 54, 0, 1920, 568);
		border-radius: rem(10);
		border: rem(1) solid cl('white-1', 0.04);
		background: cl('black-2');

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include adaptiveValue('width', 110, 75, 0, 1920, 568);
			@include adaptiveValue('height', 52, 34, 0, 1920, 568);
			object-fit: cover;
		}
	}
}

.support {
	@media (max-width: $mobile) {
		display: none;
	}

	position: fixed;
	z-index: 160;
	bottom: rem(20);
	right: rem(20);

	[data-tippy-root] {
		transform: unset !important;
		top: unset !important;
		left: unset !important;
		bottom: calc(100% + rem(20)) !important;
		right: 0 !important;
		min-width: rem(412);
	}

	&__icon {
		cursor: pointer;
		position: relative;
		width: rem(48);
		height: rem(48);

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: fill;
			transform: scale(1.5);
		}
	}
}

.support-window {
	position: relative;
	border-radius: rem(10);
	background: cl('black-2');
	box-shadow: 0px 0px 44px 0px cl('black-1', 0.44);
	overflow: hidden;
	min-width: rem(412);

	&__title {
		position: absolute;
		z-index: 1;
		top: rem(15);
		left: rem(56);

		color: cl('white-1');
		font-size: rem(16);
		font-weight: 700;
		line-height: 125%;
		letter-spacing: 0.2px;
	}

	&__close {
		position: absolute;
		z-index: 1;
		top: rem(20);
		right: rem(20);
	}

	&__top-image-ibg {
		width: 100%;
		padding-bottom: 40%;
		overflow: hidden;

		img {
			transform: scale(1.06);
			object-position: 100%;
		}
	}

	&__container {
		position: relative;
		z-index: 1;
		padding: 0 rem(20) rem(20);
		margin-top: rem(-16);
	}

	&__inner {
		border-radius: rem(10);
		border: rem(1) solid cl('black-3');
		background: linear-gradient(270deg, #171e2f 0%, #171e2f 100%);
		overflow: hidden;

		&:not(:last-child) {
			margin-bottom: rem(20);
		}

		&--padding {
			padding: rem(8);
		}
	}

	&__send-message {
		position: relative;
		z-index: 1;
	}
}

.support-send {
	padding: rem(16) rem(20);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: rem(16);

	&__left {
		display: flex;
		flex-direction: column;
		gap: rem(8);
	}

	&__title {
		color: cl('white-2');
		font-size: rem(14);
		font-weight: 500;
		line-height: 114%;
	}

	&__sub-title {
		color: cl('grey-1');
		font-size: rem(12);
		font-weight: 500;
		line-height: 100%;
		letter-spacing: 0.1px;
	}

	&__button {
		flex: 0 0 rem(20);
		width: rem(20);
		aspect-ratio: 1;
	}
}

.support-main {
	&__search-wrapper {
		position: relative;
		padding: rem(6) rem(12);
		height: rem(40);

		svg {
			fill: cl('grey-3');
			width: rem(12);
			height: rem(12);
		}

		input {
			font-size: rem(12);

			&::placeholder {
				font-size: rem(12);
			}
		}

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	&__fields {
		padding: 0 rem(12) rem(4);
	}

	&__field {
		display: flex;
		gap: rem(24);
		align-items: center;
		justify-content: space-between;
		padding-bottom: rem(12);

		span {
			color: cl('grey-3');
			font-size: rem(14);
			font-weight: 500;
			line-height: 114%;
		}

		svg {
		}

		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
}

.games-wrapper {
	margin: rem(66) 0;
}

.tippy-content {
	padding: 0 !important;
	margin: 0 !important;
}
